[user]
	name = te9yie
	email = te9yie@users.noreply.github.com
[url "git@github.com:"]
	pushinsteadof = git://gist.github.com/
	pushinsteadof = git://github.com/
	pushinsteadof = https://gist.github.com/
	pushinsteadof = https://github.com/
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	ignore = "!gi() { curl -sL https://www.toptal.com/developers/gitignore/api/$@ ;}; gi"
[init]
	defaultBranch = main
